<!DOCTYPE html>

<head>
    <title>World Of Industries Registration!</title>
    <link rel="icon" href="https://aarushiswinner.qzz.io/woiLogo.png">
    <link rel="stylesheet" href="https://aarushiswinner.qzz.io/woiStyle.css">
    <meta property="og:title" content="World Of Industries Registration">
    <meta property="og:url" content="https://worldofindustries.qzz.io/">
    <meta property="og:image" content="https://aarushiswinner.qzz.io/woiLogo.png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:description" content="Register for the World Of Industries game and embark on an epic journey!">
</head>

<style>
    body{
        backdrop-filter: blur(525px);
        text-transform: none;
    }
    .textBox{
        padding: 2vh;
        border-radius: 15px;
        border: 2px solid white;
        border-radius: 15px;
        text-align: center;
    }
    .custom-but button:hover{
        border-radius: 15px;
        font-size: 16px;
        background-color: black;
    }
</style>

<body>
    <div class="pageCent">
        <div class="page">
            <img src="https://aarushiswinner.qzz.io/woiLogo.png" style="height: 150px; margin-bottom: 15px; border-radius: 15px;">
            <div class="textBox">
                Welcome!<br>
                Come and Join the World of Industries! <br>
                Are you ready to embark on an epic journey?<br>
                Click here, and get started with your journey!<br>
            <div class="custom-but" style="margin-top: 25px; border: 2px solid white; border-radius: 15px;">
                <a href="./register" style="text-decoration: none; color: white;">
                    <button type="button">Get Started!</button>
                </a>
            </div>
            </div>
        </div>
    </div>
</body>