<!DOCTYPE html>

<head>
    <title>World Of Industries Registration!</title>
    <link rel="icon" href="https://aarushiswinner.qzz.io/woiLogo.png">
    <link rel="stylesheet" href="https://aarushiswinner.qzz.io/woiStyle.css">
    <meta property="og:title" content="World Of Industries Registration">
    <meta property="og:url" content="https://worldofindustries.qzz.io/">
    <meta property="og:image" content="https://aarushiswinner.qzz.io/woiLogo.png">
    <meta property="og:image:width" content="500">
    <meta property="og:image:height" content="500">
    <meta property="og:description" content="Register for the World Of Industries game and embark on an epic journey!">
</head>

<body>
<form method="POST">
<div class="pageCent">
    <label for="exists" style="color: #ff1616; border: 2px solid #ff1616; padding: 10px; margin: 5px; border-radius: 15px; background-color: #0f0f0f;">Username already exists!</label>
    <div class="page">
    <img src="https://aarushiswinner.qzz.io/woiLogo.png" style="height: 150px; margin-bottom: 15px; border-radius: 15px;">
    Email ID:
    <input name="email" class="custom-input" required>
    <br>Username:
    <input name="user" class="custom-input" required><br>
    <div class="custom-but">
    <button type="submit">Pre-Register!</button>
    </div>
    </div>
    </div>
</form>
</body>