
<head>
    <title>World Of Industries Registration!</title>
    <link rel="stylesheet" href="https://aarushiswinner.qzz.io/woiStyle.css">
</head>
<body>
<div class="pageCent">
    <div class="page">
    <img src="https://aarushiswinner.qzz.io/woiLogo.png" style="height: 150px; margin-bottom: 15px; border-radius: 15px;">
    <div class="username" style="padding-bottom: 10px;">
    <input type="hidden" id="user" name="user" value="{{ user }}">
    <label for="user" style="text-transform: none; text-align: center;">Verification for {{ user }} was successful!<br>Welcome to the World of Industries!</label>
    </div>
</div>
</div>
</div>
</form>
<body>
